:root {
  font-family: "Outfit", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: hsl(212, 45%, 89%);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  position: relative;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25rem;
  width: 16rem;
  border-radius: 0.8rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

.img {
  width: 14.5rem;
  height: auto;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 11px 3px 3px 3px;
  display: flex;
  cursor: pointer;
}

.heading {
  font-family: "Outfit", sans-serif;
  text-align: center;
  max-width: 14rem;
  margin: 0.8rem auto 0.4rem;
  color: hsl(218, 44%, 22%);
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 700;
}

.paragraph {
  font-family: "Outfit", sans-serif;
  padding: 0;
  max-width: 200px;
  margin: 0.4rem auto 1.4rem;
  text-align: center;
  color: hsl(219, 14%, 63%);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
}
